comu/com.energyict.mdc.sap.soap.wsdl/src/main/resources/wsdl/sap/MeterReadingDocumentERPResultCreateRequest_E_OutService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MeterReadingDocumentERPResultCreateRequest_E_Out"
                  targetNamespace="urn:webservices.wsdl.soap.sap.mdc.energyict.com:meterreadingresultcreaterequest"
                  xmlns:p2="http://sap.com/xi/SAPGlobal20/Global"
                  xmlns:p1="urn:webservices.wsdl.soap.sap.mdc.energyict.com:meterreadingresultcreaterequest"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation/>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="OP_MeterReadingDocumentERPResultCreateRequest_E_Out"/>
    <wsdl:types>
        <xsd:schema targetNamespace="http://sap.com/xi/IS-U/Global2" xmlns="http://sap.com/xi/IS-U/Global2"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:p7="urn:evn.at:isu.sm">
            <xsd:import namespace="urn:evn.at:isu.sm"/>
            <xsd:simpleType name="PhoneNumberSubscriberID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">aa01b5b0ea3411dc9c8c0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CountryCode">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a923ffe0ea3411dca0f20017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="2"/>
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Indicator">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Indicator is the representation of a situation that has exactly two
                        mutually exclusive Boolean values.
                    </xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">48065b00ea3311dca62d0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Indicator</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:boolean"/>
            </xsd:simpleType>
            <xsd:simpleType name="UtilitiesPointOfDeliveryPartyID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="AgencyIdentificationCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">An AgencyIdentificationCode is a code representation of the agency
                        responsible for a code list or identifier scheme, respectively
                    </xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">d3bf90f3eb8f11dcb2fc0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="UtilitiesObjectIdentificationSystemCodeText">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">cf7b7560ea2011dca6000017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Text</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="15"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PhoneNumberAreaID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a979e810ea3411dcab2e0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="BusinessSystemID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a5f247f0ea3411dccf150017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="60"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Time">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">974b3421ea0011dc82140017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Time</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:time">
                    <xsd:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ContactPersonInternalID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="32"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="MeterReadingReasonCode">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">9980bf80ea0511dcbb5f0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="MeterReadingTypeCode.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PhoneNumberExtensionID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a9c87d40ea3411dcafde0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="BusinessDocumentMessageID.Content">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Unique identifier of a business document in a (technical) message
                        that is issued by the sender business application
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="35"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="MEDIUM_Name.Content">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="UUID.Content">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Universally Unique Identifier</xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:length value="36"/>
                    <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a8da25a0ea3411dc98530017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Name</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a8b18f00ea3411dcc0cf0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Name</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="80"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Date">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">af727da0ea3311dcb4ce0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Date</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:date">
                    <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="GLOBAL_DateTime">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a5763a20ea3411dca0240017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">DateTime</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:dateTime">
                    <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="BusinessScopeTypeCode.Content">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Coded representation of the type of a BusinessScope
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="UtilitiesMeasurementTaskID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="18"/>
                    <xsd:pattern value="\d+"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="UtilitiesDeviceID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="18"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LanguageCode">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">d7cc1cd3ec7111dcc90e0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:language">
                    <xsd:minLength value="2"/>
                    <xsd:maxLength value="9"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PartyStandardID.Content">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Standardized identifier for a party, and the identification scheme
                        used is controlled by an agency from the code list DE 3055
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="13"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="BusinessScopeID.Content">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Identifier of a BusinessScope</xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="36"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PartyInternalID.Content">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Proprietary identifier for a party</xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="32"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="BusinessScopeInstanceID.Content">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Identifier for the instance of a BusinessScope</xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="36"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="MeterReadingResultValue">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">c4c31e91ea0511dcbc3d0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Value</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="25"/>
                    <xsd:fractionDigits value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="MeterReadingDocumentID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CountryDiallingCode">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a99b2bb0ea3411dc8a2c0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="UtilitiesDeviceID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">0d898eb0ea3411dca0a30017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="UtilitiesDeviceID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="BusinessScopeInstanceID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a7531070ea3411dc9c3d0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="BusinessScopeInstanceID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="BusinessDocumentMessageHeaderParty">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">General information about a party that is responsible for sending
                        or receiving a BusinessDocument at business application level
                    </xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a5b90f80ea3411dcc7920017a44cb001</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="InternalID" type="PartyInternalID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">c35c9910954411d8b532d71b93cc14a9
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="StandardID" type="PartyStandardID" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">c35c9911954411d8a295d71b93cc14a9
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ContactPerson" type="BusinessDocumentMessageHeaderPartyContactPerson"
                                 minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">c35c9912954411d8a8bad71b93cc14a9
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MEDIUM_Name">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a8fb9053ea3411dc949b0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Name</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="MEDIUM_Name.Content">
                        <xsd:attribute name="languageCode" type="LanguageCode">
                            <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">d5b24bb0035b11da92f3e1fb0a135236
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="EmailURI">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a84d7600ea3411dccf530017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">URI</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="xsd:anyURI">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="BusinessScopeTypeCode">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a7806200ea3411dc90680017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="BusinessScopeTypeCode.Content">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="15"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="MtrRdngDocERPRsltCrteReqUtilsMsmtTsk">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Node Utilties Measurement Task of MDT MtrRdngDocERPRsltCrteReqMsg
                    </xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">fa54d2f0411311ddcc630017a44cb001</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="UtilitiesMeasurementTaskID" type="UtilitiesMeasurementTaskID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">4825c1f0eea911dc9a0b0017a48dbdfe
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="UtilitiesObjectIdentificationSystemCodeText"
                                 type="UtilitiesObjectIdentificationSystemCodeText" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">b07a0570410d11dd8bf5001a4bd10d0a
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="UtiltiesDevice" type="MtrRdngDocERPRsltCrteReqUtilsDvce" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">1b439060eebb11dca2570017a48dbdfe
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="UtilitiesPointOfDelivery" type="MtrRdngDocERPRsltCrteReqUtilsPtDeliv"
                                 minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">1b439061eebb11dcce6c0017a48dbdfe
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BusinessDocumentMessageHeader">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Business information from the perspective of the sender application
                        for identifying a business document (instance) within a (technical) message
                    </xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a53d01b0ea3411dc83a40017a44cb001</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="ID" type="BusinessDocumentMessageID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">151ee290954411d8c7ced71b93cc14a9
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="UUID" type="UUID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">b67db020f88911dbb090000bcd72d39c
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ReferenceID" type="BusinessDocumentMessageID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">151ee291954411d8b641d71b93cc14a9
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ReferenceUUID" type="UUID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">b67db021f88911db8135000bcd72d39c
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CreationDateTime" type="GLOBAL_DateTime">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">151ee292954411d88b5dd71b93cc14a9
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="TestDataIndicator" type="Indicator" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">ae0e2460fa2411daa51d00143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ReconciliationIndicator" type="Indicator" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">66b72c80fa2711dab3a500143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SenderBusinessSystemID" type="BusinessSystemID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">33360820430811db825c00143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="RecipientBusinessSystemID" type="BusinessSystemID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">33378ec0430811dbbc8c00143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SenderParty" type="BusinessDocumentMessageHeaderParty" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">151ee293954411d891b7d71b93cc14a9
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="RecipientParty" type="BusinessDocumentMessageHeaderParty" minOccurs="0"
                                 maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">151ee294954411d8ba26d71b93cc14a9
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="BusinessScope" type="BusinessScope" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">0173e590426e11dbb47d00143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MtrRdngDocERPRsltCrteReqMsg">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Message Data Type For MeterReadingDocumentERPResultCreateRequest
                    </xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">c5502051eebb11dc9d8e0017a44cb001</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">e2e5ac70eebb11dcc78d0017a48dbdfe
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="MeterReadingDocument" type="MtrRdngDocERPRsltCrteReqMtrRdngDoc">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">e2e5ac71eebb11dc83ef0017a48dbdfe
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MtrRdngDocERPRsltCrteReqUtilsDvce">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Node UtiltiesDevice of MDT MtrRdngDocERPRsltCrteReqMsg
                    </xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">88377ad3eeb911dcc4ad0017a44cb001</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="UtilitiesDeviceID" type="UtilitiesDeviceID">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">a8b818f0eeb911dcac480017a48dbdfe
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Contact person of a party that is responsible for sending or
                        receiving a BusinessDocument
                    </xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a6fade50ea3411dca3c10017a44cb001</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="InternalID" type="ContactPersonInternalID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">b4721400fa2511da86df00143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="OrganisationFormattedName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"
                                 maxOccurs="4">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">2ef17bd0fa2611daba6000143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="PersonFormattedName" type="LANGUAGEINDEPENDENT_LONG_Name" minOccurs="0"
                                 maxOccurs="4">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">a64ca3c0fa2711daa02c00143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="PhoneNumber" type="PhoneNumber" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">a64ca3c1fa2711da95b800143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="FaxNumber" type="PhoneNumber" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">a64ca3c2fa2711daa4e400143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="EmailURI" type="EmailURI" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">a64ca3c3fa2711da8b6800143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PartyInternalID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">ed1e3bd0ec2c11dc93540017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="PartyInternalID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">31113640313c11d892b8ef3e0a134a03
                                </xsd:appinfo>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">31113641313c11d88183ef3e0a134a03
                                </xsd:appinfo>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="UUID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a61f9980ea3411dcaa1e0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="UUID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="UtilitiesPointOfDeliveryPartyID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">4ee14f22ead311dccc020017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="UtilitiesPointOfDeliveryPartyID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="MtrRdngDocERPRsltCrteReqMtrRdngDoc">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Node Meter Reading Document of MDT MtrRdngDocERPRsltCrteReqMsg
                    </xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">52f9a621eebb11dc8f2f0017a44cb001</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="ID" type="MeterReadingDocumentID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">a2e42ac0eeac11dcb8be0017a48dbdfe
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="MeterReadingReasonCode" type="MeterReadingReasonCode" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">a2e674b0eeac11dca21a0017a48dbdfe
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ScheduledMeterReadingDate" type="Date" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">a2e674b1eeac11dc95640017a48dbdfe
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="UtiltiesMeasurementTask" type="MtrRdngDocERPRsltCrteReqUtilsMsmtTsk"
                                 minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">a2e674b2eeac11dcbde70017a48dbdfe
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Result" type="MtrRdngDocERPRsltCrteReqRslt">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">a2e674b3eeac11dc91f10017a48dbdfe
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UtilitiesMeasurementTaskID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a74bad80ea2011dcbfda0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="UtilitiesMeasurementTaskID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="MtrRdngDocERPRsltCrteReqRslt">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Node Result of MDT MtrRdngDocERPRsltCrteReqMsg</xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">c8fd82d5eeb911dc90660017a44cb001</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="ActualMeterReadingDate" type="Date">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">a56f8600eeab11dcaeba0017a48dbdfe
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ActualMeterReadingTime" type="Time">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">a56f8601eeab11dcbe6a0017a48dbdfe
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="MaximumMeterReadingDate" type="Date" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">a56f8602eeab11dc85880017a48dbdfe
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="MaximumMeterReadingTime" type="Time" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">a56f8603eeab11dca6b30017a48dbdfe
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="MeterReadingTypeCode" type="MeterReadingTypeCode" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">a56f8604eeab11dcc7000017a48dbdfe
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="MeterReadingResultValue" type="MeterReadingResultValue">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">c2ddbe90eeac11dcccea0017a48dbdfe
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:group ref="p7:ZMtrRdngDocERPRsltCrteReqRslt"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="p7:ZMtrRdngDocERPRsltCrteReqRslt"/>
            </xsd:complexType>
            <xsd:complexType name="PartyStandardID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a72aa0e0ea3411dc90cc0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="PartyStandardID.Content">
                        <xsd:attribute name="schemeAgencyID" use="required">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="3"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="MeterReadingDocumentID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">e334ebd0ea0311dcbc200017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="MeterReadingDocumentID.Content">
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="PhoneNumber">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a824df60ea3411dc8b890017a44cb001</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="AreaID" type="PhoneNumberAreaID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">05afcf1031f711d7810ddb820a126fd1
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SubscriberID" type="PhoneNumberSubscriberID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">05b155b031f711d7a7cbdb820a126fd1
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ExtensionID" type="PhoneNumberExtensionID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">05b155b131f711d7b24bdb820a126fd1
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CountryCode" type="CountryCode" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">05b155b231f711d7ced6db820a126fd1
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CountryDiallingCode" type="CountryDiallingCode" minOccurs="0"/>
                    <xsd:element name="CountryName" type="MEDIUM_Name" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">f9a35db0b2a611db99f1000bcd72d39c
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BusinessScopeID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a7bc0b70ea3411dc9f770017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="BusinessScopeID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="ContactPersonInternalID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a7f543e0ea3411dca4df0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="ContactPersonInternalID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">211056a0313b11d8983aef3e0a134a03
                                </xsd:appinfo>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">211056a1313b11d89d4bef3e0a134a03
                                </xsd:appinfo>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="BusinessDocumentMessageID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a6886d70ea3411dca86a0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="BusinessDocumentMessageID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">e8fd18a0954611d89e24d71b93cc14a9
                                </xsd:appinfo>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">aa8e8aa1954511d88f1fd71b93cc14a9
                                </xsd:appinfo>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode">
                            <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">aa8e8aa2954511d89ab7d71b93cc14a9
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="BusinessScope">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Environment from which a message is sent</xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a64f3500ea3411dc9dac0017a44cb001</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="TypeCode" type="BusinessScopeTypeCode">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">c598de40426d11dbcb6700143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="InstanceID" type="BusinessScopeInstanceID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">c598de41426d11db836300143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ID" type="BusinessScopeID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">c598de42426d11dbc18500143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MeterReadingTypeCode">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">e7067b50ea0511dcae360017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="MeterReadingTypeCode.Content">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="30"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="MtrRdngDocERPRsltCrteReqUtilsPtDeliv">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Node Utilities Point Of Delivery of MtrRdngDocERPRsltCrteReq
                    </xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">ea6457b1eeb811dcb4ec0017a44cb001</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="UtilitiesPointOfDeliveryPartyID" type="UtilitiesPointOfDeliveryPartyID">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">48035290eeb911dc83990017a48dbdfe
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal20/Global" xmlns:p6="http://sap.com/xi/IS-U/Global2"
                    xmlns="http://sap.com/xi/SAPGlobal20/Global" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://sap.com/xi/IS-U/Global2"/>
            <xsd:element name="MeterReadingDocumentERPResultCreateRequest" type="p6:MtrRdngDocERPRsltCrteReqMsg"/>
        </xsd:schema>
        <xsd:schema targetNamespace="urn:evn.at:isu.sm" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="urn:evn.at:isu.sm">
            <xsd:attributeGroup name="ZMtrRdngDocERPRsltCrteReqRslt">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">0bd8752b379311e6c857000001141846</xsd:appinfo>
                </xsd:annotation>
            </xsd:attributeGroup>
            <xsd:group name="ZMtrRdngDocERPRsltCrteReqRslt">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">0bd8752b379311e6c857000001141846</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="ZeroConsumption" type="xsd:boolean" minOccurs="0" form="qualified">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">0bc36eea379311e6b2819c8e99e57a02
                            </xsd:appinfo>
                            <xsd:documentation>Nullverbrauch</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:group>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="p3.MeterReadingDocumentERPResultCreateRequest">
        <wsdl:documentation/>
        <wsdl:part name="MeterReadingDocumentERPResultCreateRequest"
                   element="p2:MeterReadingDocumentERPResultCreateRequest"/>
    </wsdl:message>
    <wsdl:portType name="MeterReadingDocumentERPResultCreateRequest_E_Out">
        <wsdl:documentation/>
        <wsdl:operation name="MeterReadingDocumentERPResultCreateRequest_E_Out">
            <wsdl:documentation/>
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_MeterReadingDocumentERPResultCreateRequest_E_Out"/>
            </wsp:Policy>
            <wsdl:input message="p1:p3.MeterReadingDocumentERPResultCreateRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MeterReadingDocumentERPResultCreateRequest_E_OutBinding"
                  type="p1:MeterReadingDocumentERPResultCreateRequest_E_Out">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"
                      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <wsdl:operation name="MeterReadingDocumentERPResultCreateRequest_E_Out">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
                            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            <wsdl:input>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MeterReadingDocumentERPResultCreateRequest_E_OutService">
        <wsdl:port name="HTTP_Port" binding="p1:MeterReadingDocumentERPResultCreateRequest_E_OutBinding">
            <soap:address
                    location="http://svpopd5db.evn-r3.energy-it.net:50100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=ElsterDev&amp;receiverParty=&amp;receiverService=&amp;interface=MeterReadingDocumentERPResultCreateRequest_E_Out&amp;interfaceNamespace=urn%3Aevn.at%3Aelster"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        </wsdl:port>
        <wsdl:port name="HTTPS_Port" binding="p1:MeterReadingDocumentERPResultCreateRequest_E_OutBinding">
            <soap:address
                    location="https://svpopd5db.evn-r3.energy-it.net:50101/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=ElsterDev&amp;receiverParty=&amp;receiverService=&amp;interface=MeterReadingDocumentERPResultCreateRequest_E_Out&amp;interfaceNamespace=urn%3Aevn.at%3Aelster"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>