comu/com.energyict.mdc.sap.soap.wsdl/src/main/resources/wsdl/sap/SmartMeterUtilitiesConnectionStatusChangeRequestERPCreateRequest_E_In.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SmartMeterUtilitiesConnectionStatusChangeRequestERPCreateRequest_E_In"
                  targetNamespace="urn:webservices.wsdl.soap.sap.mdc.energyict.com:utilitiestimeseriesbulkcreateconfirmation"
                  xmlns:p1="http://sap.com/xi/IS-U/Global2"
                  xmlns:p2="http://sap.com/xi/SAPGlobal20/Global"
                  xmlns:pJupiter="urn:webservices.wsdl.soap.sap.mdc.energyict.com:utilitiestimeseriesbulkcreateconfirmation"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation/>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="OP_SmartMeterUtilitiesConnectionStatusChangeRequestERPCreateRequest_E_In"/>
    <wsdl:types>
        <xsd:schema targetNamespace="http://sap.com/xi/IS-U/Global2" xmlns="http://sap.com/xi/IS-U/Global2"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:simpleType name="ConfirmationEndpoint">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="8"/>
                    <xsd:maxLength value="200"/>
                    <xsd:pattern value="https?:\/\/.+"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PhoneNumberSubscriberID">
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CountryCode">
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="2"/>
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Indicator">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Indicator is the representation of a situation that has exactly two
                        mutually exclusive Boolean values.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:boolean"/>
            </xsd:simpleType>
            <xsd:simpleType name="AgencyIdentificationCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">An AgencyIdentificationCode is a code representation of the agency
                        responsible for a code list or identifier scheme, respectively
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PhoneNumberAreaID">
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="BusinessSystemID">
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="60"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="UtilitiesServiceDisconnectionReasonCode">
                <xsd:restriction base="xsd:token">
                    <xsd:length value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="UtilitiesAdvancedMeteringSystemID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ContactPersonInternalID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="32"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PhoneNumberExtensionID">
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="BusinessDocumentMessageID.Content">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Unique identifier of a business document in a (technical) message
                        that is issued by the sender business application
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="35"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="MEDIUM_Name.Content">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="UUID.Content">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Universally Unique Identifier</xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:length value="36"/>
                    <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="80"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="GLOBAL_DateTime">
                <xsd:restriction base="xsd:dateTime">
                    <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="BusinessScopeTypeCode.Content">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Coded representation of the type of a BusinessScope
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="UtilitiesConnectionStatusChangeRequestCategoryCode.Content">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">UtilitiesConnectionStatusChangeRequestCategoryCode
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LanguageCode">
                <xsd:restriction base="xsd:language">
                    <xsd:minLength value="2"/>
                    <xsd:maxLength value="9"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="UtilitiesDeviceID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="18"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PartyStandardID.Content">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Standardized identifier for a party, and the identification scheme
                        used is controlled by an agency from the code list DE 3055
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="13"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="BusinessScopeID.Content">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Identifier of a BusinessScope</xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="36"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PartyInternalID.Content">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Proprietary identifier for a party</xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="32"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="BusinessScopeInstanceID.Content">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Identifier for the instance of a BusinessScope</xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="36"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CountryDiallingCode">
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="UtilitiesConnectionStatusChangeRequestID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="12"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="SmrtMtrUtilsConncnStsChgReqERPCrteReqSmrtMtr">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">IDT:
                        SmartMeterUtilitiesConnectionStatusChangeRequestERPCreateRequestSmartMeter
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="UtilitiesAdvancedMeteringSystemID" type="UtilitiesAdvancedMeteringSystemID"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UtilitiesDeviceID">
                <xsd:simpleContent>
                    <xsd:extension base="UtilitiesDeviceID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="BusinessScopeInstanceID">
                <xsd:simpleContent>
                    <xsd:extension base="BusinessScopeInstanceID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="BusinessDocumentMessageHeaderParty">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">General information about a party that is responsible for sending
                        or receiving a BusinessDocument at business application level
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="InternalID" type="PartyInternalID" minOccurs="0"/>
                    <xsd:element name="StandardID" type="PartyStandardID" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="ContactPerson" type="BusinessDocumentMessageHeaderPartyContactPerson"
                                 minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UtilitiesConnectionStatusChangeRequestID">
                <xsd:simpleContent>
                    <xsd:extension base="UtilitiesConnectionStatusChangeRequestID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="MEDIUM_Name">
                <xsd:simpleContent>
                    <xsd:extension base="MEDIUM_Name.Content">
                        <xsd:attribute name="languageCode" type="LanguageCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="UtilitiesAdvancedMeteringSystemID">
                <xsd:simpleContent>
                    <xsd:extension base="UtilitiesAdvancedMeteringSystemID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="EmailURI">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:anyURI">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="BusinessScopeTypeCode">
                <xsd:simpleContent>
                    <xsd:extension base="BusinessScopeTypeCode.Content">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="15"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="BusinessDocumentMessageHeader">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Business information from the perspective of the sender application
                        for identifying a business document (instance) within a (technical) message
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="ID" type="BusinessDocumentMessageID" minOccurs="0"/>
                    <xsd:element name="UUID" type="UUID" minOccurs="0"/>
                    <xsd:element name="ReferenceID" type="BusinessDocumentMessageID" minOccurs="0"/>
                    <xsd:element name="ReferenceUUID" type="UUID" minOccurs="0"/>
                    <xsd:element name="CreationDateTime" type="GLOBAL_DateTime"/>
                    <xsd:element name="TestDataIndicator" type="Indicator" minOccurs="0"/>
                    <xsd:element name="ReconciliationIndicator" type="Indicator" minOccurs="0"/>
                    <xsd:element name="SenderBusinessSystemID" type="BusinessSystemID" minOccurs="0"/>
                    <xsd:element name="RecipientBusinessSystemID" type="BusinessSystemID" minOccurs="0"/>
                    <xsd:element name="SenderParty" type="BusinessDocumentMessageHeaderParty" minOccurs="0"/>
                    <xsd:element name="RecipientParty" type="BusinessDocumentMessageHeaderParty" minOccurs="0"
                                 maxOccurs="unbounded"/>
                    <xsd:element name="BusinessScope" type="BusinessScope" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SmrtMtrUtilsConncnStsChgReqERPCrteReqMsg">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Message Type:
                        SmartMeterUtilitiesConnectionStatusChangeRequestERPCreateRequestMessage
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader"/>
                    <xsd:element name="UtilitiesConnectionStatusChangeRequest"
                                 type="SmrtMtrUtilsConncnStsChgReqERPCrteReqUtilsConncnStsChgReq"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Contact person of a party that is responsible for sending or
                        receiving a BusinessDocument
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="InternalID" type="ContactPersonInternalID" minOccurs="0"/>
                    <xsd:element name="OrganisationFormattedName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"
                                 maxOccurs="4"/>
                    <xsd:element name="PersonFormattedName" type="LANGUAGEINDEPENDENT_LONG_Name" minOccurs="0"
                                 maxOccurs="4"/>
                    <xsd:element name="PhoneNumber" type="PhoneNumber" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="FaxNumber" type="PhoneNumber" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="EmailURI" type="EmailURI" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PartyInternalID">
                <xsd:simpleContent>
                    <xsd:extension base="PartyInternalID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="UUID">
                <xsd:simpleContent>
                    <xsd:extension base="UUID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="SmrtMtrUtilsConncnStsChgReqERPCrteReqUtilsConncnStsChgReq">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">IDT:
                        SmartMeterUtilitiesConnectionStatusChangeRequestERPCreateRequestUtilitiesConnectionStatusChangeRequest
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="ID" type="UtilitiesConnectionStatusChangeRequestID"/>
                    <xsd:element name="CategoryCode" type="UtilitiesConnectionStatusChangeRequestCategoryCode"/>
                    <xsd:element name="ConfirmationEndpointURL" type="ConfirmationEndpoint"/>
                    <xsd:element name="UtilitiesServiceDisconnectionReasonCode"
                                 type="UtilitiesServiceDisconnectionReasonCode" minOccurs="0"/>
                    <xsd:element name="PlannedProcessingDateTime" type="GLOBAL_DateTime"/>
                    <xsd:element name="ImmediateStatusChangeIndicator" type="Indicator" minOccurs="0"/>
                    <xsd:element name="DeviceConnectionStatus" type="SmrtMtrUtilsConncnStsChgReqERPCrteReqDvceConncnSts"
                                 maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PartyStandardID">
                <xsd:simpleContent>
                    <xsd:extension base="PartyStandardID.Content">
                        <xsd:attribute name="schemeAgencyID" use="required">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="3"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="UtilitiesConnectionStatusChangeRequestCategoryCode">
                <xsd:simpleContent>
                    <xsd:extension base="UtilitiesConnectionStatusChangeRequestCategoryCode.Content">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="15"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="PhoneNumber">
                <xsd:sequence>
                    <xsd:element name="AreaID" type="PhoneNumberAreaID" minOccurs="0"/>
                    <xsd:element name="SubscriberID" type="PhoneNumberSubscriberID" minOccurs="0"/>
                    <xsd:element name="ExtensionID" type="PhoneNumberExtensionID" minOccurs="0"/>
                    <xsd:element name="CountryCode" type="CountryCode" minOccurs="0"/>
                    <xsd:element name="CountryDiallingCode" type="CountryDiallingCode" minOccurs="0"/>
                    <xsd:element name="CountryName" type="MEDIUM_Name" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BusinessScopeID">
                <xsd:simpleContent>
                    <xsd:extension base="BusinessScopeID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="ContactPersonInternalID">
                <xsd:simpleContent>
                    <xsd:extension base="ContactPersonInternalID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="BusinessDocumentMessageID">
                <xsd:simpleContent>
                    <xsd:extension base="BusinessDocumentMessageID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="BusinessScope">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Environment from which a message is sent</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="TypeCode" type="BusinessScopeTypeCode"/>
                    <xsd:element name="InstanceID" type="BusinessScopeInstanceID" minOccurs="0"/>
                    <xsd:element name="ID" type="BusinessScopeID" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SmrtMtrUtilsConncnStsChgReqERPCrteReqDvceConncnSts">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">IDT:
                        SmartMeterUtilitiesConnectionStatusChangeRequestERPCreateRequestDeviceConnectionStatus
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="UtilitiesDeviceID" type="UtilitiesDeviceID"/>
                    <xsd:element name="SmartMeter" type="SmrtMtrUtilsConncnStsChgReqERPCrteReqSmrtMtr"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal20/Global" xmlns:p1="http://sap.com/xi/IS-U/Global2"
                    xmlns="http://sap.com/xi/SAPGlobal20/Global" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://sap.com/xi/IS-U/Global2"/>
            <xsd:element name="SmartMeterUtilitiesConnectionStatusChangeRequestERPCreateRequest"
                         type="p1:SmrtMtrUtilsConncnStsChgReqERPCrteReqMsg"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="p3.SmartMeterUtilitiesConnectionStatusChangeRequestERPCreateRequest">
        <wsdl:documentation>Message Type Smart Meter Utilities Connection Status Change Request ERP Create Request
        </wsdl:documentation>
        <wsdl:part name="SmartMeterUtilitiesConnectionStatusChangeRequestERPCreateRequest"
                   element="p2:SmartMeterUtilitiesConnectionStatusChangeRequestERPCreateRequest"/>
    </wsdl:message>
    <wsdl:portType name="SmartMeterUtilitiesConnectionStatusChangeRequestERPCreateRequest_E_In">
        <wsdl:documentation/>
        <wsdl:operation name="SmartMeterUtilitiesConnectionStatusChangeRequestERPCreateRequest_E_In">
            <wsdl:documentation/>
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_SmartMeterUtilitiesConnectionStatusChangeRequestERPCreateRequest_E_In"/>
            </wsp:Policy>
            <wsdl:input message="pJupiter:p3.SmartMeterUtilitiesConnectionStatusChangeRequestERPCreateRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SmartMeterUtilitiesConnectionStatusChangeRequestERPCreateRequest_E_InBinding"
                  type="pJupiter:SmartMeterUtilitiesConnectionStatusChangeRequestERPCreateRequest_E_In">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"
                      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <wsdl:operation name="SmartMeterUtilitiesConnectionStatusChangeRequestERPCreateRequest_E_In">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
                            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            <wsdl:input>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SmartMeterConnectionStatusCreateRequestService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
        <wsdl:port binding="pJupiter:SmartMeterUtilitiesConnectionStatusChangeRequestERPCreateRequest_E_InBinding"
                   name="SmartMeterConnectionStatusCreateRequestPort">
            <soap:address location="http://localhost:8080"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>