comu/com.energyict.mdc.sap.soap.wsdl/src/main/resources/wsdl/sap/SmartMeterMeterReadingDocumentERPCreateConfirmation_E_OutService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SmartMeterMeterReadingDocumentERPCreateConfirmation_E_Out"
                  targetNamespace="urn:webservices.wsdl.soap.sap.mdc.energyict.com:smartmetermeterreadingcreateconfirmation"
                  xmlns:p2="http://sap.com/xi/SAPGlobal20/Global"
                  xmlns:p1="urn:webservices.wsdl.soap.sap.mdc.energyict.com:smartmetermeterreadingcreateconfirmation"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation/>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="OP_SmartMeterMeterReadingDocumentERPCreateConfirmation_E_Out"/>
    <wsdl:types>
        <xsd:schema targetNamespace="http://sap.com/xi/IS-U/Global2" xmlns="http://sap.com/xi/IS-U/Global2"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:simpleType name="PhoneNumberSubscriberID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">aa01b5b0ea3411dc9c8c0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="WebURI">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Web URI</xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">47fe1930739111dd94e60017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">URI</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:anyURI"/>
            </xsd:simpleType>
            <xsd:simpleType name="CountryCode">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a923ffe0ea3411dca0f20017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="2"/>
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Indicator">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Indicator is the representation of a situation that has exactly two
                        mutually exclusive Boolean values.
                    </xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">48065b00ea3311dca62d0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Indicator</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:boolean"/>
            </xsd:simpleType>
            <xsd:simpleType name="AgencyIdentificationCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">An AgencyIdentificationCode is a code representation of the agency
                        responsible for a code list or identifier scheme, respectively
                    </xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">d3bf90f3eb8f11dcb2fc0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PhoneNumberAreaID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a979e810ea3411dcab2e0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="BusinessSystemID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a5f247f0ea3411dccf150017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="60"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemCategoryCode.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="15"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemNote">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">A short text for the log message</xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">ee36692272a011ddaaf90017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Note</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="200"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ContactPersonInternalID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="32"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemSeverityCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Log Item Severity Code</xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">b41bbd50738e11dda3c50017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:length value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PhoneNumberExtensionID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a9c87d40ea3411dcafde0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="BusinessDocumentMessageID.Content">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Unique identifier of a business document in a (technical) message
                        that is issued by the sender business application
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="35"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ObjectNodePartyTechnicalID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">d35b77f3eb8f11dc88220017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="70"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="MEDIUM_Name.Content">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="UUID.Content">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Universally Unique Identifier</xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:length value="36"/>
                    <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a8da25a0ea3411dc98530017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Name</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemTypeID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Unique identification of the type of a log entry
                    </xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">c6533690739011dd9f7f0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a8b18f00ea3411dcc0cf0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Name</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="80"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="GLOBAL_DateTime">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a5763a20ea3411dca0240017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">DateTime</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:dateTime">
                    <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="BusinessScopeTypeCode.Content">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Coded representation of the type of a BusinessScope
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LanguageCode">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">d7cc1cd3ec7111dcc90e0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:language">
                    <xsd:minLength value="2"/>
                    <xsd:maxLength value="9"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PartyStandardID.Content">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Standardized identifier for a party, and the identification scheme
                        used is controlled by an agency from the code list DE 3055
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="13"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="BusinessScopeID.Content">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Identifier of a BusinessScope</xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="36"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PartyInternalID.Content">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Proprietary identifier for a party</xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="32"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ProcessingResultCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Processing Result Code</xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">25c6a350739111dd88470017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="BusinessScopeInstanceID.Content">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Identifier for the instance of a BusinessScope</xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="36"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="MeterReadingDocumentID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CountryDiallingCode">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a99b2bb0ea3411dc8a2c0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="BusinessScopeInstanceID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a7531070ea3411dc9c3d0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="BusinessScopeInstanceID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="BusinessDocumentMessageHeaderParty">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">General information about a party that is responsible for sending
                        or receiving a BusinessDocument at business application level
                    </xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a5b90f80ea3411dcc7920017a44cb001</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="InternalID" type="PartyInternalID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">c35c9910954411d8b532d71b93cc14a9
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="StandardID" type="PartyStandardID" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">c35c9911954411d8a295d71b93cc14a9
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ContactPerson" type="BusinessDocumentMessageHeaderPartyContactPerson"
                                 minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">c35c9912954411d8a8bad71b93cc14a9
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MEDIUM_Name">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a8fb9053ea3411dc949b0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Name</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="MEDIUM_Name.Content">
                        <xsd:attribute name="languageCode" type="LanguageCode">
                            <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">d5b24bb0035b11da92f3e1fb0a135236
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="EmailURI">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a84d7600ea3411dccf530017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">URI</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="xsd:anyURI">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="BusinessScopeTypeCode">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a7806200ea3411dc90680017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="BusinessScopeTypeCode.Content">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="15"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="BusinessDocumentMessageHeader">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Business information from the perspective of the sender application
                        for identifying a business document (instance) within a (technical) message
                    </xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a53d01b0ea3411dc83a40017a44cb001</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="ID" type="BusinessDocumentMessageID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">151ee290954411d8c7ced71b93cc14a9
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="UUID" type="UUID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">b67db020f88911dbb090000bcd72d39c
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ReferenceID" type="BusinessDocumentMessageID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">151ee291954411d8b641d71b93cc14a9
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ReferenceUUID" type="UUID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">b67db021f88911db8135000bcd72d39c
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CreationDateTime" type="GLOBAL_DateTime">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">151ee292954411d88b5dd71b93cc14a9
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="TestDataIndicator" type="Indicator" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">ae0e2460fa2411daa51d00143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ReconciliationIndicator" type="Indicator" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">66b72c80fa2711dab3a500143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SenderBusinessSystemID" type="BusinessSystemID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">33360820430811db825c00143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="RecipientBusinessSystemID" type="BusinessSystemID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">33378ec0430811dbbc8c00143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SenderParty" type="BusinessDocumentMessageHeaderParty" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">151ee293954411d891b7d71b93cc14a9
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="RecipientParty" type="BusinessDocumentMessageHeaderParty" minOccurs="0"
                                 maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">151ee294954411d8ba26d71b93cc14a9
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="BusinessScope" type="BusinessScope" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">0173e590426e11dbb47d00143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Contact person of a party that is responsible for sending or
                        receiving a BusinessDocument
                    </xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a6fade50ea3411dca3c10017a44cb001</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="InternalID" type="ContactPersonInternalID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">b4721400fa2511da86df00143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="OrganisationFormattedName" type="LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"
                                 maxOccurs="4">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">2ef17bd0fa2611daba6000143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="PersonFormattedName" type="LANGUAGEINDEPENDENT_LONG_Name" minOccurs="0"
                                 maxOccurs="4">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">a64ca3c0fa2711daa02c00143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="PhoneNumber" type="PhoneNumber" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">a64ca3c1fa2711da95b800143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="FaxNumber" type="PhoneNumber" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">a64ca3c2fa2711daa4e400143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="EmailURI" type="EmailURI" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">a64ca3c3fa2711da8b6800143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Log">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">d18112a1eb8f11dcc6250017a44cb001</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="BusinessDocumentProcessingResultCode" type="ProcessingResultCode" minOccurs="0"/>
                    <xsd:element name="MaximumLogItemSeverityCode" type="LogItemSeverityCode" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">9ed997d084ce11d9aee5db8f0a122b3a
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Item" type="LogItem" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">9ed997d184ce11d9b762db8f0a122b3a
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SmrtMtrMtrRdngDocERPCrteConfMtrRdngDoc">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">SmrtMtrMtrRdngDocERPCrteConfMtrRdngDoc</xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">9f00d931ef7411dc95b10017a44cb001</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="ID" type="MeterReadingDocumentID">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">1d606160ef7511dc9e39003005a1c80d
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PartyInternalID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">ed1e3bd0ec2c11dc93540017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="PartyInternalID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">31113640313c11d892b8ef3e0a134a03
                                </xsd:appinfo>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">31113641313c11d88183ef3e0a134a03
                                </xsd:appinfo>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="UUID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a61f9980ea3411dcaa1e0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="UUID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="SmrtMtrMtrRdngDocERPCrteConfMsg">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Message Data Type For
                        SmartMeterMeterReadingDocumentERPCreateConfirmation
                    </xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">9e8c1e61ef7411dc984f0017a44cb001</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">62cf7e40eac311dca794003005a1c80d
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="MeterReadingDocument" type="SmrtMtrMtrRdngDocERPCrteConfMtrRdngDoc">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">62cf7e41eac311dcc8cf003005a1c80d
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Log" type="Log">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">0ddea760ef7511dcad9d003005a1c80d
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PartyStandardID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a72aa0e0ea3411dc90cc0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="PartyStandardID.Content">
                        <xsd:attribute name="schemeAgencyID" use="required">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="3"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="MeterReadingDocumentID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">e334ebd0ea0311dcbc200017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="MeterReadingDocumentID.Content">
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="LogItem">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">protocol message issued by an application</xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">d2127d30eb8f11dc916d0017a44cb001</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="TypeID" type="LogItemTypeID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">a67e3d0067a711d88c8fd0760a12332a
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CategoryCode" type="LogItemCategoryCode" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">02d7da90efe911da9e0a000bcd72d39c
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SeverityCode" type="LogItemSeverityCode" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">a67e3d0167a711d8c686d0760a12332a
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ReferenceObjectNodeSenderTechnicalID" type="ObjectNodePartyTechnicalID"
                                 minOccurs="0"/>
                    <xsd:element name="Note" type="LogItemNote">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">a67e3d0267a711d88cb2d0760a12332a
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="WebURI" type="WebURI" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">935b2110742311d8cf12c1eb0a12332a
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PhoneNumber">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a824df60ea3411dc8b890017a44cb001</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="AreaID" type="PhoneNumberAreaID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">05afcf1031f711d7810ddb820a126fd1
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SubscriberID" type="PhoneNumberSubscriberID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">05b155b031f711d7a7cbdb820a126fd1
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ExtensionID" type="PhoneNumberExtensionID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">05b155b131f711d7b24bdb820a126fd1
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CountryCode" type="CountryCode" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">05b155b231f711d7ced6db820a126fd1
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="CountryDiallingCode" type="CountryDiallingCode" minOccurs="0"/>
                    <xsd:element name="CountryName" type="MEDIUM_Name" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">f9a35db0b2a611db99f1000bcd72d39c
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LogItemCategoryCode">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">d38b3a80eb8f11dc86f20017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Code</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="LogItemCategoryCode.Content">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="15"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="BusinessScopeID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a7bc0b70ea3411dc9f770017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="BusinessScopeID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="ContactPersonInternalID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a7f543e0ea3411dca4df0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="ContactPersonInternalID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">211056a0313b11d8983aef3e0a134a03
                                </xsd:appinfo>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">211056a1313b11d89d4bef3e0a134a03
                                </xsd:appinfo>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="BusinessDocumentMessageID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/helperType">true</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a6886d70ea3411dca86a0017a44cb001</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/RepresentationTerm">Identifier</xsd:appinfo>
                    <xsd:appinfo source="http://sap.com/esi/FixedValues">false</xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="BusinessDocumentMessageID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">e8fd18a0954611d89e24d71b93cc14a9
                                </xsd:appinfo>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">aa8e8aa1954511d88f1fd71b93cc14a9
                                </xsd:appinfo>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="60"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode">
                            <xsd:annotation>
                                <xsd:appinfo source="http://sap.com/xi/TextID">aa8e8aa2954511d89ab7d71b93cc14a9
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="BusinessScope">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">Environment from which a message is sent</xsd:documentation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">a64f3500ea3411dc9dac0017a44cb001</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="TypeCode" type="BusinessScopeTypeCode">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">c598de40426d11dbcb6700143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="InstanceID" type="BusinessScopeInstanceID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">c598de41426d11db836300143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ID" type="BusinessScopeID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">c598de42426d11dbc18500143800ce46
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal20/Global" xmlns:p6="http://sap.com/xi/IS-U/Global2"
                    xmlns="http://sap.com/xi/SAPGlobal20/Global" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://sap.com/xi/IS-U/Global2"/>
            <xsd:element name="SmartMeterMeterReadingDocumentERPCreateConfirmation"
                         type="p6:SmrtMtrMtrRdngDocERPCrteConfMsg"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="p3.SmartMeterMeterReadingDocumentERPCreateConfirmation">
        <wsdl:documentation/>
        <wsdl:part name="SmartMeterMeterReadingDocumentERPCreateConfirmation"
                   element="p2:SmartMeterMeterReadingDocumentERPCreateConfirmation"/>
    </wsdl:message>
    <wsdl:portType name="SmartMeterMeterReadingDocumentERPCreateConfirmation_E_Out">
        <wsdl:documentation/>
        <wsdl:operation name="SmartMeterMeterReadingDocumentERPCreateConfirmation_E_Out">
            <wsdl:documentation/>
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_SmartMeterMeterReadingDocumentERPCreateConfirmation_E_Out"/>
            </wsp:Policy>
            <wsdl:input message="p1:p3.SmartMeterMeterReadingDocumentERPCreateConfirmation"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SmartMeterMeterReadingDocumentERPCreateConfirmation_E_OutBinding"
                  type="p1:SmartMeterMeterReadingDocumentERPCreateConfirmation_E_Out">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"
                      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <wsdl:operation name="SmartMeterMeterReadingDocumentERPCreateConfirmation_E_Out">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
                            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            <wsdl:input>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SmartMeterMeterReadingDocumentERPCreateConfirmation_E_OutService">
        <wsdl:port name="HTTP_Port" binding="p1:SmartMeterMeterReadingDocumentERPCreateConfirmation_E_OutBinding">
            <soap:address
                    location="http://svpopd5db.evn-r3.energy-it.net:50100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=ElsterDev&amp;receiverParty=&amp;receiverService=&amp;interface=SmartMeterMeterReadingDocumentERPCreateConfirmation_E_Out&amp;interfaceNamespace=urn%3Aevn.at%3Aelster"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        </wsdl:port>
        <wsdl:port name="HTTPS_Port" binding="p1:SmartMeterMeterReadingDocumentERPCreateConfirmation_E_OutBinding">
            <soap:address
                    location="https://svpopd5db.evn-r3.energy-it.net:50101/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=ElsterDev&amp;receiverParty=&amp;receiverService=&amp;interface=SmartMeterMeterReadingDocumentERPCreateConfirmation_E_Out&amp;interfaceNamespace=urn%3Aevn.at%3Aelster"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>