comu/com.energyict.mdc.sap.soap.wsdl/src/main/resources/wsdl/sap/UtilitiesTimeSeriesItemByIDQueryResponse_C_In.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://sap.com/xi/IS-U/Global2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sap.com/xi/IS-U/Global2" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="http://sap.com/xi/SAPGlobal/Global" xmlns:n2="http://sap.com/xi/SAPGlobal20/Global">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_UtilitiesTimeSeriesItemByIDQueryResponse_C_In">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_UtilitiesTimeSeriesItemByIDQueryResponse_C_In">
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema targetNamespace="http://sap.com/xi/IS-U/Global2" xmlns="http://sap.com/xi/IS-U/Global2" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal/Global" xmlns:xi1="http://sap.com/xi/SAPGlobal20/Global">
   <xsd:simpleType name="AgencyIdentificationCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Amount">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="Amount.Content">
      <xsd:attribute name="currencyCode" use="required" type="CurrencyCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="Amount.Content">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="28"/>
     <xsd:fractionDigits value="6"/>
     <xsd:maxInclusive value="9999999999999999999999.999999"/>
     <xsd:minInclusive value="-9999999999999999999999.999999"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="CurrencyCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:length value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ExchangeFaultData">
    <xsd:sequence>
     <xsd:element name="faultText" type="xsd:string"/>
     <xsd:element name="faultUrl" minOccurs="0" type="xsd:string"/>
     <xsd:element name="faultDetail" minOccurs="0" maxOccurs="unbounded" type="ExchangeLogData"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ExchangeLogData">
    <xsd:sequence>
     <xsd:element name="severity" minOccurs="0" type="xsd:string"/>
     <xsd:element name="text" type="xsd:string"/>
     <xsd:element name="url" minOccurs="0" type="xsd:string"/>
     <xsd:element name="id" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LEN30_Name">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="LEN30_Name.Content">
      <xsd:attribute name="languageCode" type="LanguageCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="LEN30_Name.Content">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LanguageCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:language">
     <xsd:maxLength value="9"/>
     <xsd:minLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Log">
    <xsd:sequence>
     <xsd:element name="BusinessDocumentProcessingResultCode" minOccurs="0" type="ProcessingResultCode"/>
     <xsd:element name="MaximumLogItemSeverityCode" minOccurs="0" type="LogItemSeverityCode"/>
     <xsd:element name="Item" minOccurs="0" maxOccurs="unbounded" type="LogItem"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LogItem">
    <xsd:sequence>
     <xsd:element name="TypeID" minOccurs="0" type="LogItemTypeID"/>
     <xsd:element name="CategoryCode" minOccurs="0" type="LogItemCategoryCode"/>
     <xsd:element name="SeverityCode" minOccurs="0" type="LogItemSeverityCode"/>
     <xsd:element name="ReferenceObjectNodeSenderTechnicalID" minOccurs="0" type="ObjectNodePartyTechnicalID"/>
     <xsd:element name="Note" type="LogItemNote"/>
     <xsd:element name="WebURI" minOccurs="0" type="WebURI"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LogItemCategoryCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="LogItemCategoryCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="LogItemCategoryCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="15"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogItemNote">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Note</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="200"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogItemSeverityCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:length value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogItemTypeID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="40"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="MeasureUnitCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="3"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ObjectNodePartyTechnicalID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="70"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ProcessingResultCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="2"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Quantity">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="Quantity.Content">
      <xsd:attribute name="unitCode" type="MeasureUnitCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="Quantity.Content">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="31"/>
     <xsd:fractionDigits value="14"/>
     <xsd:maxInclusive value="99999999999999999.99999999999999"/>
     <xsd:minInclusive value="-99999999999999999.99999999999999"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TIMEZONEINDEPENDENT_DateTime">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>DateTime</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime">
     <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TimeZoneCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="10"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TimeZoneDifferenceValue">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="4"/>
     <xsd:fractionDigits value="2"/>
     <xsd:maxInclusive value="99.99"/>
     <xsd:minInclusive value="-99.99"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="UPPEROPEN_TIMEZONEINDEPENDENT_DateTimePeriod">
    <xsd:sequence>
     <xsd:element name="StartDateTime" minOccurs="0" type="TIMEZONEINDEPENDENT_DateTime"/>
     <xsd:element name="EndDateTime" minOccurs="0" type="TIMEZONEINDEPENDENT_DateTime"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="UtilitiesTimeSeriesID">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="UtilitiesTimeSeriesID.Content">
      <xsd:attribute name="schemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="schemeAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="UtilitiesTimeSeriesID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="18"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="UtilitiesTimeSeriesItemByIDQueryMessage_sync">
    <xsd:sequence>
     <xsd:element name="UtilitiesTimeSeriesItemSelectionByID" type="UtilsTmeSersItmByIDQry_sUtilsTmeSersItmSelByID"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="UtilitiesTimeSeriesItemByIDResponseMessage_sync">
    <xsd:sequence>
     <xsd:element name="UtilitiesTimeSeries" minOccurs="0" type="UtilsTmeSersItmByIDRsp_sUtilsTmeSers"/>
     <xsd:element name="Log" type="Log"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="UtilitiesTimeSeriesItemTypeCode">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
     <xsd:extension base="UtilitiesTimeSeriesItemTypeCode.Content">
      <xsd:attribute name="listID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listVersionID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="15"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencyID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeID">
       <xsd:simpleType>
        <xsd:restriction base="xsd:token">
         <xsd:maxLength value="60"/>
         <xsd:minLength value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
      <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
     </xsd:extension>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="UtilitiesTimeSeriesItemTypeCode.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="4"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="UtilsTmeSersItmByIDQry_sUtilsTmeSersItmSelByID">
    <xsd:sequence>
     <xsd:element name="UtilitiesTimeSeriesID" type="UtilitiesTimeSeriesID"/>
     <xsd:element name="UtilitiesTimeSeriesItemTimeZoneCode" type="TimeZoneCode"/>
     <xsd:element name="UtilitiesTimeSeriesItemValidityPeriod" type="UPPEROPEN_TIMEZONEINDEPENDENT_DateTimePeriod"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="UtilsTmeSersItmByIDRsp_sItm">
    <xsd:sequence>
     <xsd:element name="Amount" minOccurs="0" type="Amount"/>
     <xsd:element name="Quantity" minOccurs="0" type="Quantity"/>
     <xsd:element name="UTCValidityStartDateTime" type="TIMEZONEINDEPENDENT_DateTime"/>
     <xsd:element name="UTCValidityEndDateTime" type="TIMEZONEINDEPENDENT_DateTime"/>
     <xsd:element name="UTCStartDateTimeTimeZoneDifferenceValue" minOccurs="0" type="TimeZoneDifferenceValue"/>
     <xsd:element name="UTCEndDateTimeTimeZoneDifferenceValue" minOccurs="0" type="TimeZoneDifferenceValue"/>
     <xsd:element name="Status" maxOccurs="unbounded" type="UtilsTmeSersItmByIDRsp_sSts"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="UtilsTmeSersItmByIDRsp_sSts">
    <xsd:sequence>
     <xsd:element name="Code" type="UtilitiesTimeSeriesItemTypeCode"/>
     <xsd:element name="Name" minOccurs="0" type="LEN30_Name"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="UtilsTmeSersItmByIDRsp_sUtilsTmeSers">
    <xsd:sequence>
     <xsd:element name="ID" minOccurs="0" type="UtilitiesTimeSeriesID"/>
     <xsd:element name="Item" maxOccurs="unbounded" type="UtilsTmeSersItmByIDRsp_sItm"/>
    </xsd:sequence>
    <xsd:attribute name="currencyCode" type="CurrencyCode"/>
    <xsd:attribute name="MeasureUnitCode" type="MeasureUnitCode"/>
   </xsd:complexType>
   <xsd:simpleType name="WebURI">
    <xsd:annotation>
     <xsd:documentation xml:lang="EN">
      <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
     </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:anyURI"/>
   </xsd:simpleType>
  </xsd:schema>
  <xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal/Global" xmlns="http://sap.com/xi/SAPGlobal/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal/Global" xmlns:xi1="http://sap.com/xi/SAPGlobal20/Global">
   <xsd:import namespace="http://sap.com/xi/IS-U/Global2"/>
   <xsd:element name="StandardMessageFault">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="standard" type="tns:ExchangeFaultData"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
  <xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal20/Global" xmlns="http://sap.com/xi/SAPGlobal20/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal/Global" xmlns:xi1="http://sap.com/xi/SAPGlobal20/Global">
   <xsd:import namespace="http://sap.com/xi/IS-U/Global2"/>
   <xsd:element name="UtilitiesTimeSeriesItemByIDQuery_sync" type="tns:UtilitiesTimeSeriesItemByIDQueryMessage_sync"/>
   <xsd:element name="UtilitiesTimeSeriesItemByIDResponse_sync" type="tns:UtilitiesTimeSeriesItemByIDResponseMessage_sync"/>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="UtilitiesTimeSeriesItemByIDQuery_sync">
  <wsdl:part name="UtilitiesTimeSeriesItemByIDQuery_sync" element="n2:UtilitiesTimeSeriesItemByIDQuery_sync"/>
 </wsdl:message>
 <wsdl:message name="UtilitiesTimeSeriesItemByIDResponse_sync">
  <wsdl:part name="UtilitiesTimeSeriesItemByIDResponse_sync" element="n2:UtilitiesTimeSeriesItemByIDResponse_sync"/>
 </wsdl:message>
 <wsdl:message name="StandardMessageFault">
  <wsdl:part name="StandardMessageFault" element="n1:StandardMessageFault"/>
 </wsdl:message>
 <wsdl:portType name="UtilitiesTimeSeriesItemByIDQueryResponse_C_In">
  <wsdl:documentation>
   <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
    <sapdoc:docitem applicationComponent="IS-U"/>
   </sapdoc:sapdoc>
  </wsdl:documentation>
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_UtilitiesTimeSeriesItemByIDQueryResponse_C_In"/>
  </wsp:Policy>
  <wsdl:operation name="UtilitiesTimeSeriesItemByIDQueryResponse_C_In">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_UtilitiesTimeSeriesItemByIDQueryResponse_C_In"/>
   </wsp:Policy>
   <wsdl:input message="tns:UtilitiesTimeSeriesItemByIDQuery_sync"/>
   <wsdl:output message="tns:UtilitiesTimeSeriesItemByIDResponse_sync"/>
   <wsdl:fault name="StandardMessageFault" message="tns:StandardMessageFault"/>
  </wsdl:operation>
 </wsdl:portType>
 <wsdl:binding name="UtilitiesTimeSeriesItemByIDQueryResponse_C_InBinding"
			   type="tns:UtilitiesTimeSeriesItemByIDQueryResponse_C_In">
	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
	<wsdl:operation name="UtilitiesTimeSeriesItemByIDQueryResponse_C_In">
		<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
						xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		<wsdl:input>
			<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		</wsdl:input>
		<wsdl:output>
			<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		</wsdl:output>
		<wsdl:fault>
			<soap:body use="literal" name="StandardMessageFault" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		</wsdl:fault>
	</wsdl:operation>
 </wsdl:binding>
 <wsdl:service name="UtilitiesTimeSeriesItemByIDQueryResponseService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:port binding="tns:UtilitiesTimeSeriesItemByIDQueryResponse_C_InBinding" name="UtilitiesTimeSeriesItemByIDQueryResponsePort">
   <soap:address location="http://localhost:8080"/>
  </wsdl:port>
 </wsdl:service>
</wsdl:definitions>