comu/com.energyict.mdc.protocols/src/main/resources/wsdl/WUTriggerServiceConcrete_Incl_Schema.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  ~ Copyright (c) 2017 by Honeywell International Inc. All Rights Reserved
  -->

<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<definitions targetNamespace="http://ws.gdsp.vodafone.com/" name="WUTriggerService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.gdsp.vodafone.com/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
              <xs:schema xmlns:tns="http://ws.gdsp.vodafone.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.gdsp.vodafone.com/" version="1.0" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xs:complexType name="gdspCredentials">
                <xs:sequence>
                    <xs:element name="password" type="xs:string" minOccurs="0"/>
                    <xs:element name="userId" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="gdspHeader">
                <xs:sequence>
                    <xs:element name="gdspCredentials" type="tns:gdspCredentials" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="returnCode">
                <xs:sequence>
                    <xs:element name="majorReturnCode" type="xs:string" minOccurs="0"/>
                    <xs:element name="minorReturnCode" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="submitWUTrigger">
                <xs:sequence>
                    <xs:element name="deviceId" type="xs:string" minOccurs="0"/>
                    <xs:element name="sourceId" type="xs:string" minOccurs="0"/>
                    <xs:element name="triggerType" type="xs:string" minOccurs="0"/>
                    <xs:element name="operatorName" type="xs:string"/>
                    <xs:element name="MSISDNNumber" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="submitWUTriggerResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:wuTriggerResponse" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="wuTriggerResponse">
                <xs:sequence>
                    <xs:element name="deviceId" type="xs:string" minOccurs="0"/>
                    <xs:element name="returnCode" type="tns:returnCode" minOccurs="0"/>
                    <xs:element name="triggerType" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="gdspHeader" nillable="true" type="tns:gdspHeader"/>
            <xs:element name="submitWUTrigger" type="tns:submitWUTrigger"/>
            <xs:element name="submitWUTriggerResponse" type="tns:submitWUTriggerResponse"/>
        </xs:schema>
  </types>
  <message name="submitWUTrigger">
    <part name="parameters" element="tns:submitWUTrigger"/>
    <part name="gdspHeader" element="tns:gdspHeader"/>
  </message>
  <message name="submitWUTriggerResponse">
    <part name="result" element="tns:submitWUTriggerResponse"/>
  </message>
  <portType name="WUTrigger">
    <operation name="submitWUTrigger" parameterOrder="parameters gdspHeader">
      <input message="tns:submitWUTrigger"/>
      <output message="tns:submitWUTriggerResponse"/>
    </operation>
  </portType>
  <binding name="WUTriggerPortBinding" type="tns:WUTrigger">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="submitWUTrigger">
      <soap:operation soapAction="/SharedResources/COMM_DEVICE/WUTriggerService.serviceagent/WUTriggerPort/submitWUTrigger"/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:submitWUTrigger" part="gdspHeader" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WUTriggerService">
    <port name="WUTriggerPort" binding="tns:WUTriggerPortBinding">
      <soap:address location="http://ES1WI272:4423/SharedResources/COMM_DEVICE/WUTriggerService.serviceagent/WUTriggerPort"/>
      <!--<soap:address location="http://localhost:2001/smsWakeup/smsWakeup"/>-->
    </port>
  </service>
</definitions>

