comu/com.energyict.mdc.cim.webservices.outbound.soap/src/main/resources/wsdl/meterconfig/SendMeterConfig.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017 by Honeywell International Inc. All Rights Reserved
  -->

<wsdl:definitions
        name="SendMeterConfig"
        targetNamespace="http://iec.ch/TC57/2011/SendMeterConfig"
        xmlns:tns="http://iec.ch/TC57/2011/SendMeterConfig"
        xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:infoMessage="http://iec.ch/TC57/2011/MeterConfigMessage">
    <wsdl:types>
        <xs:schema targetNamespace="http://iec.ch/TC57/2011/SendMeterConfig"
                   elementFormDefault="qualified">
            <xs:import
                    namespace="http://iec.ch/TC57/2011/MeterConfigMessage"
                    schemaLocation="xsd/MeterConfigMessage.xsd"/>
        </xs:schema>
    </wsdl:types>
    <!-- Message Definitions -->
    <wsdl:message name="CreatedMeterConfigEventMessage">
        <wsdl:part name="CreatedMeterConfigEventMessage"
                   element="infoMessage:CreatedMeterConfig"/>
    </wsdl:message>
    <wsdl:message name="ChangedMeterConfigEventMessage">
        <wsdl:part name="ChangedMeterConfigEventMessage"
                   element="infoMessage:ChangedMeterConfig"/>
    </wsdl:message>
    <wsdl:message name="ClosedMeterConfigEventMessage">
        <wsdl:part name="ClosedMeterConfigEventMessage"
                   element="infoMessage:ClosedMeterConfig"/>
    </wsdl:message>
    <wsdl:message name="CanceledMeterConfigEventMessage">
        <wsdl:part name="CanceledMeterConfigEventMessage"
                   element="infoMessage:CanceledMeterConfig"/>
    </wsdl:message>
    <wsdl:message name="DeletedMeterConfigEventMessage">
        <wsdl:part name="DeletedMeterConfigEventMessage"
                   element="infoMessage:DeletedMeterConfig"/>
    </wsdl:message>
    <wsdl:message name="ReplyMeterConfigEventMessage">
        <wsdl:part name="ReplyMeterConfigEventMessage"
                   element="infoMessage:ReplyMeterConfig"/>
    </wsdl:message>
    <wsdl:message name="ResponseMessage">
        <wsdl:part name="ResponseMessage"
                   element="infoMessage:MeterConfigResponseMessage"/>
    </wsdl:message>
    <wsdl:message name="FaultMessage">
        <wsdl:part name="FaultMessage"
                   element="infoMessage:MeterConfigFaultMessage"/>
    </wsdl:message>
    <!-- Port Definitions -->
    <wsdl:portType name="MeterConfig_Port">
        <wsdl:operation name="CreatedMeterConfig">
            <wsdl:input name="CreatedMeterConfigEvent"
                        message="tns:CreatedMeterConfigEventMessage"/>
            <wsdl:output name="CreatedMeterConfigResponse"
                         message="tns:ResponseMessage"/>
            <wsdl:fault name="CreatedMeterConfigFault"
                        message="tns:FaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ChangedMeterConfig">
            <wsdl:input name="ChangedMeterConfigEvent"
                        message="tns:ChangedMeterConfigEventMessage"/>
            <wsdl:output name="ChangedMeterConfigResponse"
                         message="tns:ResponseMessage"/>
            <wsdl:fault name="ChangedMeterConfigFault"
                        message="tns:FaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="CanceledMeterConfig">
            <wsdl:input name="CanceledMeterConfigEvent"
                        message="tns:CanceledMeterConfigEventMessage"/>
            <wsdl:output name="CanceledMeterConfigResponse"
                         message="tns:ResponseMessage"/>
            <wsdl:fault name="CanceledMeterConfigFault"
                        message="tns:FaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ClosedMeterConfig">
            <wsdl:input name="ClosedMeterConfigEvent"
                        message="tns:ClosedMeterConfigEventMessage"/>
            <wsdl:output name="ClosedMeterConfigResponse"
                         message="tns:ResponseMessage"/>
            <wsdl:fault name="ClosedMeterConfigFault"
                        message="tns:FaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="DeletedMeterConfig">
            <wsdl:input name="DeletedMeterConfigEvent"
                        message="tns:DeletedMeterConfigEventMessage"/>
            <wsdl:output name="DeletedMeterConfigResponse"
                         message="tns:ResponseMessage"/>
            <wsdl:fault name="DeletedMeterConfigFault"
                        message="tns:FaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ReplyMeterConfig">
            <wsdl:input name="ReplyMeterConfigEvent"
                        message="tns:ReplyMeterConfigEventMessage"/>
            <wsdl:output name="ReplyMeterConfigResponse"
                         message="tns:ResponseMessage"/>
            <wsdl:fault name="ReplyMeterConfigFault"
                        message="tns:FaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MeterConfig_Binding"
                  type="tns:MeterConfig_Port">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreatedMeterConfig">
            <soap:operation
                    soapAction="http://iec.ch/TC57/2011/MeterConfig/CreatedMeterConfig" style="document"/>
            <wsdl:input name="CreatedMeterConfigEvent">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreatedMeterConfigResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CreatedMeterConfigFault">
                <soap:fault name="CreatedMeterConfigFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ChangedMeterConfig">
            <soap:operation
                    soapAction="http://iec.ch/TC57/2011/MeterConfig/ChangedMeterConfig" style="document"/>
            <wsdl:input name="ChangedMeterConfigEvent">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ChangedMeterConfigResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ChangedMeterConfigFault">
                <soap:fault name="ChangedMeterConfigFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="CanceledMeterConfig">
            <soap:operation
                    soapAction="http://iec.ch/TC57/2011/MeterConfig/CanceledMeterConfig" style="document"/>
            <wsdl:input name="CanceledMeterConfigEvent">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CanceledMeterConfigResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CanceledMeterConfigFault">
                <soap:fault name="CanceledMeterConfigFault"
                            use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ClosedMeterConfig">
            <soap:operation
                    soapAction="http://iec.ch/TC57/2011/MeterConfig/ClosedMeterConfig" style="document"/>
            <wsdl:input name="ClosedMeterConfigEvent">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ClosedMeterConfigResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ClosedMeterConfigFault">
                <soap:fault name="ClosedMeterConfigFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeletedMeterConfig">
            <soap:operation
                    soapAction="http://iec.ch/TC57/2011/MeterConfig/DeletedMeterConfig" style="document"/>
            <wsdl:input name="DeletedMeterConfigEvent">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeletedMeterConfigResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="DeletedMeterConfigFault">
                <soap:fault name="DeletedMeterConfigFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReplyMeterConfig">
            <soap:operation
                    soapAction="http://iec.ch/TC57/2011/MeterConfig/ReplyMeterConfig" style="document"/>
            <wsdl:input name="ReplyMeterConfigEvent">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ReplyMeterConfigResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ReplyMeterConfigFault">
                <soap:fault name="ReplyMeterConfigFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SendMeterConfig">
        <wsdl:port name="MeterConfig_Port"
                   binding="tns:MeterConfig_Binding">
            <soap:address location="http://iec.ch/TC57/2011/SendMeterConfig"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>