comu/com.energyict.mdc.cim.webservices.outbound.soap/src/main/resources/wsdl/masterdatalinkageconfig/xsd/MasterDataLinkageConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017 by Honeywell International Inc. All Rights Reserved
  -->
<xs:schema xmlns="http://langdale.com.au/2005/Message#"
           xmlns:m="http://iec.ch/TC57/2011/MasterDataLinkageConfig#"
           xmlns:sawsdl="http://www.w3.org/ns/sawsdl"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://iec.ch/TC57/2011/MasterDataLinkageConfig#" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="MasterDataLinkageConfig" type="m:MasterDataLinkageConfig"/>
    <xs:complexType name="MasterDataLinkageConfig">
        <xs:sequence>
            <xs:element name="AuxiliaryAgreement" type="m:AuxiliaryAgreement" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ComModule" type="m:ComModule" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ConfigurationEvent" type="m:ConfigurationEvent" minOccurs="0"/>
            <xs:element name="Customer" type="m:Customer" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="CustomerAccount" type="m:CustomerAccount" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="CustomerAgreement" type="m:CustomerAgreement" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="EndDevice" type="m:EndDevice" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Meter" type="m:Meter" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="PricingStructure" type="m:PricingStructure" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ServiceLocation" type="m:ServiceLocation" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ServiceSupplier" type="m:ServiceSupplier" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="TransformerTank" type="m:TransformerTank" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="UsagePoint" type="m:UsagePoint" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="UsagePointLocation" type="m:UsagePointLocation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AuxiliaryAgreement" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#AuxiliaryAgreement">
        <xs:sequence>
            <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID"/>
            <xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ComModule" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ComModule">
        <xs:sequence>
            <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID"/>
            <xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConfigurationEvent" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ConfigurationEvent">
        <xs:sequence>
            <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID"/>
            <xs:element name="createdDateTime" type="xs:dateTime" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ActivityRecord.createdDateTime"/>
            <xs:element name="effectiveDateTime" type="xs:dateTime" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ConfigurationEvent.effectiveDateTime"/>
            <xs:element name="modifiedBy" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ConfigurationEvent.modifiedBy"/>
            <xs:element name="reason" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ActivityRecord.reason"/>
            <xs:element name="remark" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ConfigurationEvent.remark"/>
            <xs:element name="severity" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ActivityRecord.severity"/>
            <xs:element name="type" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ActivityRecord.type"/>
            <xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names"/>
            <xs:element name="status" type="m:Status" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ActivityRecord.status"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Customer" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Customer">
        <xs:sequence>
            <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID"/>
            <xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CustomerAccount" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#CustomerAccount">
        <xs:sequence>
            <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID"/>
            <xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CustomerAgreement" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#CustomerAgreement">
        <xs:sequence>
            <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID"/>
            <xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EndDevice" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#EndDevice">
        <xs:sequence>
            <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID"/>
            <xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Meter" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Meter">
        <xs:sequence>
            <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID"/>
            <xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names"/>
            <!-- Below elements added for Connexo -->
            <xs:element name="role" type="xs:string" minOccurs="0"/>
            <xs:element name="ReadingTypeMapping" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        This element is needed when linking slave meter to the datalogger EndDevice. When doing so, a mapping is needed between the datalogger
                        channels and registers (here identified in the sourceReadingType) with the channels and registers on the slave meter (here identified by the destinationReadingType)
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="source" type="m:ReadingType">
                            <xs:annotation>
                                <xs:documentation>Reading type on the datalogger (selects channel or register)</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="destination" type="m:ReadingType">
                            <xs:annotation>
                                <xs:documentation>Reading type on the slave/meter (selects channel or register)</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReadingType" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ReadingType">
        <!-- specifically added for Connexo -->
        <xs:sequence>
            <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID"/>
            <xs:element name="Names" type="m:Name" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Name" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name">
        <xs:sequence>
            <xs:element name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name.name"/>
            <xs:element name="NameType" type="m:NameType" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Name.NameType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameType" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType">
        <xs:sequence>
            <xs:element name="description" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.description"/>
            <xs:element name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.name"/>
            <xs:element name="NameTypeAuthority" type="m:NameTypeAuthority" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameType.NameTypeAuthority"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameTypeAuthority" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority">
        <xs:sequence>
            <xs:element name="description" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority.description"/>
            <xs:element name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#NameTypeAuthority.name"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PricingStructure" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#PricingStructure">
        <xs:sequence>
            <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID"/>
            <xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ServiceLocation" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ServiceLocation">
        <xs:sequence>
            <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID"/>
            <xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ServiceSupplier" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#ServiceSupplier">
        <xs:sequence>
            <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID"/>
            <xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Status" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Status">
        <xs:sequence>
            <xs:element name="dateTime" type="xs:dateTime" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Status.dateTime"/>
            <xs:element name="reason" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Status.reason"/>
            <xs:element name="remark" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Status.remark"/>
            <xs:element name="value" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#Status.value"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransformerTank" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#TransformerTank">
        <xs:sequence>
            <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID"/>
            <xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UsagePoint" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#UsagePoint">
        <xs:sequence>
            <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID"/>
            <xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UsagePointLocation" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#UsagePointLocation">
        <xs:sequence>
            <xs:element name="mRID" type="xs:string" minOccurs="0" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.mRID"/>
            <xs:element name="Names" type="m:Name" minOccurs="0" maxOccurs="unbounded" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim15#IdentifiedObject.Names"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>